* {
  box-sizing: border-box;
}

.empty {
  height: 80px;
}

header {
  form {
    margin: 0 auto;
    input {
      height: 62px;
      border-radius: 0;
      padding: 10px 25px;
      transition: all 0.15s ease-out;
    }
  }
    .right-profile {
      margin: 0 8%;
      position: relative;
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
      }
      .dropdown-profile {
        display: none;
        position: absolute;
        min-width: 160px;
        background: white;
        z-index: 1;
        a {
          text-decoration: none;
          color: black;
          display: block;
          padding: 12px 20px;
        }
      }
      &:hover .dropdown-profile {
        display: block;
      }
    }
  .navbar-light {
    background: black;
    .navbar-toggler {
      border-color: white;
      i {
        color: white;
      }
    }
    .navbar-nav {
      margin: 0 auto;
      .nav-item {
        margin-left: 34px;
        color: #626262;
        line-height: 20px;
        font-weight: 700;
        letter-spacing: 1px;
        &:hover {
          color: white;
        }
      }
      .current {
        color: white;
      }
      .complete {
        color: #626262;
      }
    }
  }
}

.popularNews {
  .card {
    border: none;
    .card-body {
      padding: 15px 0;
      .card-title {
        text-transform: uppercase;
        a {
          text-decoration: none;
          color: black;
        }
      }
    }
  }
}

.seeing {
  position: relative;
  background-color: #f7f7f7;
  span {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    pointer-events: none;
    z-index: 0;
    opacity: 0.2;
  }
  h4 {
    margin: 15px 0;
    text-transform: uppercase;
    line-height: 28px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    a {
      text-decoration: none;
      color: black;
    }
  }
  .seeing__content {
    .left {
      .left__title {
        div {
          height: 80px;
        }
      }
    }
    figure {
      img {
        width: 100%;
      }
    }
  }
}

.popularBrand {
  .owl-dots {
    display: none;
  }
}

.subscriber {
  background: #f6f7f8;
  .subscriber__img {
    img {
      width: 100%;
    }
  }
}

footer {
  background: black;
  .footer__aboutus {
    ul {
      list-style-type: none;
      padding: 0;
      a {
        color: white;
        text-decoration: none;
      }
    }
  }
  .footer__icons {
    i {
      margin: 0 10px;
    }
  }
}
