* {
  box-sizing: border-box;
}

.empty {
  height: 80px;
}

header {
  form {
    margin: 0 auto;
    input {
      height: 62px;
      border-radius: 0;
      padding: 10px 25px;
      transition: all 0.15s ease-out;
    }
  }
  .avatar {
    margin: 0 2%;
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }
  .navbar-expand-lg {
    background: black;
    .navbar-nav {
      margin: 0 auto;
      .nav-item {
        margin-left: 34px;
        color: #626262;
        line-height: 20px;
        font-weight: 700;
        letter-spacing: 1px;
        &:hover {
          color: white;
        }
      }
      .current {
        color: white;
      }
      .complete {
        color: #626262;
      }
    }
  }
}

.sortby {
  display: flex;
  justify-content: flex-end;
  z-index: 1;
  .dropdown-toggle::after {
    content: none;
  }
  .fa {
    transition: 0.3s transform ease-in-out;
  }
  .show .fa {
    transform: rotate(-180deg);
  }
  .dropdown-menu {
    border: none;
  }
}

.wall {
  .left {
    .list {
      padding-inline-start: 30px;
      list-style-type: none;
      a {
        text-decoration: none;
        color: black;
        .fas {
          transition: 0.3s transform ease-in-out;
        }
      }
      .collapsed .fas {
        transform: rotate(-180deg);
      }
      .form-check {
        padding-left: 0;
      }
      #brand-list,
      #price-list,
      #material-list {
        list-style-type: none;
        .containerbox {
          display: block;
          position: relative;
          padding-left: 35px;
          margin-bottom: 12px;
          cursor: pointer;
          user-select: none;
          input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
            &:checked ~ .checkmark:after {
              display: block;
            }
          }
          .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 25px;
            width: 25px;
            &:after {
              left: 9px;
              top: 5px;
              width: 5px;
              height: 10px;
              border: solid black;
              border-width: 0 3px 3px 0;
              transform: rotate(45deg);
            }
          }
        }
        .checkmark:after {
          content: "";
          position: absolute;
          display: none;
        }
      }
      #color-list {
        margin: 10px 0;
        padding: 0;
        .containerlabel {
          display: block;
          position: relative;
          padding-left: 35px;
          margin-bottom: 12px;
          cursor: pointer;
          font-size: 14px;
          user-select: none;
          input {
            position: absolute;
            top: 0;
            left: 0;
            height: 20px;
            width: 20px;
            background-color: #eee;
            &:checked ~ .black {
              background: black;
            }
            &:checked ~ .grey {
              background: grey;
            }
            &:checked ~ .yellow {
              background: yellow;
            }
            &:checked ~ .red {
              background: red;
            }
            &:checked ~ .checkmark::after {
              display: block;
            }
            &:hover input ~ .checkmark {
              background-color: #ccc;
            }
          }
          .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 25px;
            width: 25px;
            background-color: #eee;
            border-radius: 50%;
            &::after {
              content: "";
              position: absolute;
              display: none;
            }
            &:after {
              left: 10px;
              top: 7px;
              width: 6px;
              height: 10px;
              border: solid white;
              border-width: 0 3px 3px 0;
              transform: rotate(45deg);
            }
          }
          .black {
            background: black;
          }
          .grey {
            background: grey;
          }
          .yellow {
            background: yellow;
          }
          .red {
            background: red;
          }
        }
      }
    }
  }
}

footer {
  background: black;
  .footer__aboutus {
    ul {
      list-style-type: none;
      padding: 0;
      a {
        color: white;
        text-decoration: none;
      }
    }
  }
  .footer__icons {
    i {
      margin: 0 10px;
    }
  }
}
