* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.empty {
  height: 80px;
}

#button {
  display: inline-block;
  background-color: white;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  -webkit-transition: background-color .3s, opacity .5s, visibility .5s;
  transition: background-color .3s, opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#button i {
  font-size: 30px;
  text-align: center;
  margin-top: 9px;
}

#button:hover {
  cursor: pointer;
  background-color: #333;
}

#button:hover i {
  color: white;
}

#button.show {
  opacity: 1;
  visibility: visible;
}

header form {
  margin: 0 auto;
}

header form input {
  height: 62px;
  border-radius: 0;
  padding: 10px 25px;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

header .right-profile {
  margin: 0 8%;
  position: relative;
}

header .right-profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

header .right-profile .dropdown-profile {
  display: none;
  position: absolute;
  min-width: 160px;
  background: white;
  z-index: 1;
}

header .right-profile .dropdown-profile a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 12px 20px;
}

header .right-profile:hover .dropdown-profile {
  display: block;
}

header .navbar-light {
  background: black;
}

header .navbar-light .navbar-toggler {
  border-color: white;
}

header .navbar-light .navbar-toggler i {
  color: white;
}

header .navbar-light .navbar-nav {
  margin: 0 auto;
}

header .navbar-light .navbar-nav .nav-item {
  margin-left: 34px;
  color: #626262;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 1px;
}

header .navbar-light .navbar-nav .nav-item:hover {
  color: white;
}

header .navbar-light .navbar-nav .current {
  color: white;
}

header .navbar-light .navbar-nav .complete {
  color: #626262;
}

.news {
  background: #f7f7f7;
  padding: 10px 15px;
}

.news img {
  width: 100%;
}

.news .grid-container {
  display: -ms-grid;
  display: grid;
  grid-gap: 5px;
  padding: 10px;
}

.news .grid-container .grid-item {
  text-align: center;
  padding: 10px;
  font-size: 30px;
}

.news .grid-container .grid-item a {
  display: block;
  margin-top: 20px;
  font-size: 22px;
  font-weight: 600;
  text-decoration: none;
  color: black;
}

.news .grid-container .item1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 /span 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / span 3;
}

.news .grid-container .item2 {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 1;
  grid-row: 1;
}

.news .smallNews .row {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 10px 0;
}

.news .smallNews .row a {
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: black;
}

footer {
  background: black;
}

footer .footer__aboutus ul {
  list-style-type: none;
  padding: 0;
}

footer .footer__aboutus ul a {
  color: white;
  text-decoration: none;
}

footer .footer__icons i {
  margin: 0 10px;
}
/*# sourceMappingURL=news.css.map */