* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.empty {
  height: 80px;
}

#button {
  display: inline-block;
  background-color: white;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  -webkit-transition: background-color .3s, opacity .5s, visibility .5s;
  transition: background-color .3s, opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#button i {
  font-size: 30px;
  text-align: center;
  margin-top: 9px;
}

#button:hover {
  cursor: pointer;
  background-color: #333;
}

#button:hover i {
  color: white;
}

#button.show {
  opacity: 1;
  visibility: visible;
}

header form {
  margin: 0 auto;
}

header form input {
  height: 62px;
  border-radius: 0;
  padding: 10px 25px;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

header .avatar {
  margin: 0 2%;
}

header .avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

header .avatar a {
  text-decoration: none;
  color: black;
}

header .navbar-light {
  background: black;
}

header .navbar-light .navbar-toggler {
  border-color: white;
}

header .navbar-light .navbar-toggler i {
  color: white;
}

header .navbar-light .navbar-nav {
  margin: 0 auto;
}

header .navbar-light .navbar-nav .nav-item {
  margin-left: 34px;
  color: #626262;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 1px;
}

header .navbar-light .navbar-nav .nav-item:hover {
  color: white;
}

header .navbar-light .navbar-nav .current {
  color: white;
}

header .navbar-light .navbar-nav .complete {
  color: #626262;
}

.profile {
  padding: 50px 0;
}

.profile .row aside .nav-pills .nav-link.active,
.profile .row aside .nav-pills .show > .nav-link {
  color: white;
  background: black;
}

.profile .row aside .nav-link {
  text-align: center;
  color: black;
}

.profile .row aside .nav-link:hover {
  color: black;
  background: white;
}

.profile .row .line {
  margin: auto 0;
  width: 50%;
  padding: 5px 0;
}

.profile .row #v-pills-profile .profile__info,
.profile .row #v-pills-profile .profile__contactinfo {
  margin: 20px 0;
  padding: 20px;
  border-bottom: 1px solid #d1d1d1;
}

.profile .row #v-pills-profile .profile__info .thead,
.profile .row #v-pills-profile .profile__contactinfo .thead {
  text-transform: uppercase;
  font-size: 14px;
  color: #5f6368;
}

.profile .row #v-pills-favorite .products__container {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto;
}

.profile .row #v-pills-favorite .products__container .product__header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 10px 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-bottom: 4px solid lightgrey;
  text-transform: uppercase;
}

.profile .row #v-pills-favorite .products__container .product__title {
  width: 45%;
  padding: 0 30px;
}

.profile .row #v-pills-favorite .products__container .products {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 15px;
}

.profile .row #v-pills-favorite .products__container .product {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 10px 0;
}

.profile .row #v-pills-favorite .products__container .product img {
  width: 85px;
  margin: 0 10px;
}

.profile .row #v-pills-favorite .products__container .product span {
  padding: 0 20px;
}

.profile .row #v-pills-favorite .products__container .price {
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile .row #v-pills-favorite .products__container .quantity {
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile .row #v-pills-favorite .products__container .total {
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile .row #v-pills-favorite .basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  margin: 20px 0;
}

.profile .row #v-pills-review {
  height: 40vh;
}

footer {
  background: black;
}

footer .footer__aboutus ul {
  list-style-type: none;
  padding: 0;
}

footer .footer__aboutus ul a {
  color: white;
  text-decoration: none;
}

footer .footer__icons i {
  margin: 0 10px;
}
/*# sourceMappingURL=profile.css.map */