* {
  box-sizing: border-box;
}

.empty {
  height: 80px;
}

header {
  form {
    margin: 0 auto;
    input {
      height: 62px;
      border-radius: 0;
      padding: 10px 25px;
      transition: all 0.15s ease-out;
    }
  }
  .avatar {
    margin: 0 2%;
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
    a {
      text-decoration: none;
      color: black;
    }
  }
  .navbar-light {
    background: black;
    .navbar-toggler {
      border-color: white;
      i {
        color: white;
      }
    }
    .navbar-nav {
      margin: 0 auto;
      .nav-item {
        margin-left: 34px;
        color: #626262;
        line-height: 20px;
        font-weight: 700;
        letter-spacing: 1px;
        &:hover {
          color: white;
        }
      }
      .current {
        color: white;
      }
      .complete {
        color: #626262;
      }
    }
  }
}

.profile {
  padding: 50px 0;
  .row {
    aside {
      .nav-pills .nav-link.active,
      .nav-pills .show > .nav-link {
        color: white;
        background: black;
      }
      .nav-link {
        text-align: center;
        color: black;
        &:hover {
          color: black;
          background: white;
        }
      }
    }
    .line {
      margin: auto 0;
      width: 50%;
      padding: 5px 0;
    }
    #v-pills-profile {
      .profile__info,
      .profile__contactinfo {
        margin: 20px 0;
        padding: 20px;
        border-bottom: 1px solid rgb(209, 209, 209);
        .thead {
          text-transform: uppercase;
          font-size: 14px;
          color: rgb(95, 99, 104);
        }
      }
    }
    #v-pills-favorite {
      .products__container {
        justify-content: space-around;
        margin: 0 auto;
        .product__header {
          width: 100%;
          display: flex;
          margin: 0 auto;
          padding: 10px 0;
          justify-content: flex-start;
          border-bottom: 4px solid lightgrey;
          text-transform: uppercase
        }
        .product__title{
          width: 45%;
          padding: 0 30px;
          }
        .products {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          margin-top: 15px;
        }
        .product {
          width: 45%;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          padding: 10px 0;
          img {
            width: 85px;
            margin: 0 10px;
          }
          span {
            padding: 0 20px;
          }
        }
        .price {
          width: 15%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .quantity {
          width: 15%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .total {
          width: 15%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      .basket {
          display: flex;
          justify-content: flex-end;
          width: 100%;
          margin: 20px 0;
        }
    }
    #v-pills-review {
      height: 40vh;
    }
  }
}

footer {
  background: black;
  .footer__aboutus {
    ul {
      list-style-type: none;
      padding: 0;
      a {
        color: white;
        text-decoration: none;
      }
    }
  }
  .footer__icons {
    i {
      margin: 0 10px;
    }
  }
}
