* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.empty {
  height: 80px;
}

header form {
  margin: 0 auto;
}

header form input {
  height: 62px;
  border-radius: 0;
  padding: 10px 25px;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

header .avatar {
  margin: 0 2%;
}

header .avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

header .avatar a {
  text-decoration: none;
  color: black;
}

header .navbar-light {
  background: black;
}

header .navbar-light .navbar-toggler {
  border-color: white;
}

header .navbar-light .navbar-toggler i {
  color: white;
}

header .navbar-light .navbar-nav {
  margin: 0 auto;
}

header .navbar-light .navbar-nav .nav-item {
  margin-left: 34px;
  color: #626262;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 1px;
}

header .navbar-light .navbar-nav .nav-item:hover {
  color: white;
}

header .navbar-light .navbar-nav .current {
  color: white;
}

header .navbar-light .navbar-nav .complete {
  color: #626262;
}

.content {
  margin: 40px 15px;
}

.content img {
  width: 100%;
}

.content .w-100 {
  margin: 10px 0;
}

.content .content__detail {
  height: 90%;
  margin-left: 10px;
}

.content .content__detail .content__description {
  padding: 0 15px;
  width: 100%;
  height: 100%;
}

.content .content__detail .content__description button {
  width: 100%;
  height: 20%;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
}

.content .content__detail .content__description button:hover {
  background: black;
  color: white;
}

.content .content__detail .content__reviews {
  width: 100%;
  margin: 15px 0;
  padding: 0 15px;
}

.content .content__detail .content__reviews a {
  text-decoration: none;
  color: black;
  font-size: 22px;
  font-weight: 400;
}

.content .content__detail .content__reviews a .fa-caret-down {
  margin: 0 15px;
  -webkit-transition: 0.3s -webkit-transform ease-in-out;
  transition: 0.3s -webkit-transform ease-in-out;
  transition: 0.3s transform ease-in-out;
  transition: 0.3s transform ease-in-out, 0.3s -webkit-transform ease-in-out;
}

.content .content__detail .content__reviews a .fa-star {
  font-size: 18px;
  margin: 0 -2px;
}

.content .content__detail .content__reviews .collapsed .fa-caret-down {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.content .content__detail .content__reviews ul {
  list-style-type: none;
  padding: 0;
}

.content .content__detail .content__reviews ul li {
  margin: 40px 0 40px 20px;
}

.content .content__detail .content__reviews ul li h6 {
  margin: 0.5rem 0;
}

.content .content__detail .content__reviews ul li button {
  width: 40%;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  border-bottom: solid 1px black;
}

.content .content__detail .content__reviews ul li button:hover {
  border-bottom: solid 2.5px black;
}

.content .content__detail .content__reviews ul li .fa-star {
  font-size: 14px;
  margin: 0 -2px;
}

.content .content__detail .content__reviews ul li .content__reviews__acount {
  color: #757575;
  padding: 0 20px;
  margin: 0.5rem 0;
}

footer {
  background: black;
}

footer .footer__aboutus ul {
  list-style-type: none;
  padding: 0;
}

footer .footer__aboutus ul a {
  color: white;
  text-decoration: none;
}

footer .footer__icons i {
  margin: 0 10px;
}
/*# sourceMappingURL=shoe.css.map */